@charset "utf-8";
/*-------------Header-------------*/
*{
	margin: 0px;
	padding: 0px;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
a{
	text-decoration:none;
	color: inherit;
}
header{
	background-color:#4B5B6E;
	box-shadow: 5px 5px 5px #424141;
	height: 100px;
  position:fixed;
  z-index:50;
	width: 100%;
	top: 0;
	left:0;
	opacity: 0.85;
	display: flex
}
.position{
	color: #ff8c11;
	font-weight: bold;
	}
.logo {
	width: 40%;
	display: flex;
	/* background-color: red; */
}

.logo-name{
	text-decoration: none;
	color: #00FFFF;
	text-align: center;
	margin:auto;
	font-size: 50px;
	
}

.logo-name:hover{
	color: #fff;
}
.menu-nav{
	width:80%;
	height:100%;
	margin:auto;
}

.menu-link {
	display:inline-block;
	transition: 0.3s ease;
	border-top: 4px solid #1F1F1F;
	border-bottom: 4px solid #1F1F1F;
	padding: 20px 0px;
	margin: 10px 30px 20px 0px;
	font-size: 20px;
	color:#00FFFF;
}
.menu-link:hover {
	border-top: 4px solid #ffffff;
	border-bottom: 4px solid #ffffff;
	padding: 6px 0px;
	color: #fff;
}
.btnLogIn{
	border: 2px solid #fff;
	padding: 10px;
	width: 200px;
	margin-right: 50px;
	border-radius: 30px;
	background-color: #fff;
	opacity: 0.8;
	color: #1F1F1F;
	font-weight: bold;
	}
.btnLogIn:hover{
	opacity: 1;
}
/*-----------------------MENU TRÒN-------------------------*/
.parent2{
    top: 0px;
    left: 1100px;
    position: fixed;
    display: block;
    width: 100px;
    height: 100px;
    background-color: transparent;
    border-radius: 50%;
    z-index: 20;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
.test1{
    width: 60%;
    height: 60%;
    background-color: dimgray;
    border-radius: 50%;
    position: absolute;
    color: white;
    text-align: center;
    
    top: 25%;
    left: 25%;
    z-index: 19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}
.test1 i{
    line-height:60px;
}
.test2{
    width: 60%;
    height: 60%;
    background-color: dimgray;
    border-radius: 50%;
    position: absolute;
    color: white;
    text-align: center;
    top: 25%;
    left: 25%;
    z-index: 19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .2s;
}
.test2 i{
    line-height:60px;
}
.test3{
    width: 60%;
    height: 60%;
    background-color: dimgray;
    border-radius: 50%;
    position: absolute;
    color: white;
    text-align: center;
    top: 25%;
    left: 25%;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .4s;
}
.test3 i{
    line-height: 60px;
}
.test4{
    width: 60%;
    height: 60%;
    background-color: dimgray;
    border-radius: 50%;
    position: absolute;
    color: white;
    text-align: center;
    top: 25%;
    left: 25%;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .6s;
}
.test4 i{
    line-height: 60px;
}
.mask2{
    top: 0px;
    left: 1100px;
    width: 100px;
    height: 100px;
    background-color: darkslategray;
    border-radius: 50%;
    position: absolute;
    z-index: 21;
    color: white;
    text-align: center;
    cursor: pointer;
    position: fixed;
}
.mask2 i{
    line-height: 100px;
}
/*-------------Start-------------*/
.content-start{
	margin-top: 100px;
	height: 700px;
	width: 100%;
	background:url(../images/league-of-legends-background-19.jpg);
	display: flex;
    }
.GioiThieuGame{
    margin: auto;
    margin-right: 40%;
    width: 50%;
    text-align: center;
    font-weight: bold;
    }
.text-GioiThieuGame{
    font-size: 45px;
    padding: 0px;
    color: #fff;
    }
.text-GioiThieuGame-2{
    font-size: 20px;
    padding: 20px;
    color: #fff;
    }
/*--------------SLIDE SHOW---------------*/
.slide{
    position: absolute;
    left: 174px;
    top: 810px;
}
.carousel-wrapper{
    height:500px;
    position:relative;
    width:1000px;
    margin:0 auto;
  }
  .carousel-item{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    padding:25px 50px;
    opacity:0;
    transition: all 0.5s ease-in-out;
  }
  .arrow{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
  }
  
  .arrow-prev{
    left:-30px;
    position:absolute;
    top:50%;
    transform:translateY(-50%) rotate(135deg);
  }
   
  .arrow-next{
        right:-30px;
        position:absolute;
        top:50%;
        transform:translateY(-50%) rotate(-45deg);
    }
  
  .light{
    color:white;
  }
  
  @media (max-width: 480px) {
        .arrow, .light .arrow {
          background-size: 10px;
          background-position: 10px 50%;
        }
      }
  
  /*Select every element*/
  [id^="item"] {
      display: none;
    }
  .item-1 {
    z-index: 2;
    opacity: 1;
    background:url("https://khiphach.vn/wp-content/uploads/2018/07/Red-Alert-2-game-chien-thuat-hay.jpg");
    background-size:cover;
    }
  .item-2{
    background:url('https://khiphach.vn/wp-content/uploads/2018/04/tai-dau-truong-thu-2.jpg');
    background-size:cover;
  }
  .item-3{
    background:url('https://cdn02.nintendo-europe.com/media/images/10_share_images/games_15/nintendo_switch_download_software_1/H2x1_NSwitchDS_ContraAnniversaryCollection_image1600w.jpg');
    background-size:cover;
  }
  .item-4{
    background:url('https://techrum.vn/chevereto/images/2017/08/16/kTrdl.jpg');
    background-size:cover;
  }
  .item-5{
    background:url('https://genknews.genkcdn.vn/2019/2/23/photo-1-15508865207281171772993.jpg');
    background-size:cover;
  }
*:target ~ .item-1 {
      opacity: 0;
}
  
#item-1:target ~ .item-1 {
      opacity: 1;
}
  
#item-2:target ~ .item-2, #item-3:target ~ .item-3, #item-4:target ~ .item-4,#item-5:target ~ .item-5{
      z-index: 3;
      opacity: 1;
}
/*-------------Footer-------------*/	
footer{
    height: 350px;
    position: absolute;
    top: 1320px;
    width: 100%;
}
footer .copyright{
	height: 50px;
	margin: auto;
	background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
	display: flex
}
footer .copyright .text{
	margin: auto;
}
.contact{
	background-color: #f4f5f7;
	height: 300px;
	display: flex;
}
.nav-footer{
	width: 30%;
	margin: auto;
	font-weight: bold;
	color: #00cbff;
	text-align: right;
}
.info-contact img{
	height: 40px;
	padding-right: 20px;
}
.info-contact{
	width: 40%;
	margin: auto;
}
.btn-nav{
	margin: auto;
	position: fixed;
	bottom: 50px;
	right: 0;
	opacity: 0.8;
}
.contactez-moi{
	font-weight: bold;
	font-size: 25px;
}

